body {
    font-family: Arial, sans-serif;
    background-color: #2B2B2B;
    
}


#header{
    display:flex;
    flex-direction: row;
    height:130px;
    width:100%;
    align-items: center;
    

}
#header div{
    width: 200px;
    color: #f4f4f4;
}
#blue{
    width:800px;
    margin-right: 800px;
    
}
.material-symbols-outlined{
    color: hsl(271, 56%, 44%);
    

}
.signup{
    background-color: #7131ae;
    border-radius: 100px;
    /* padding:0.25rem 1rem; */
    margin-top:0.5rem;
    width: 100px;
    color: #f4f4f4;
    border:none;
    display: flex;
    justify-content: center;
    row-gap: 0.75rem;
    column-gap: 0.75rem;
    padding: 1.1875rem 3.125rem ;
}

.cta-button {

    padding: 1.1875rem 3.125rem ;
    cursor: pointer;
    width:216px;
    background-color: #7131ae;
    border-radius: 100px;
    border: none;
    display: flex;
    justify-content: center;
    row-gap: 0.75rem;
    column-gap: 0.75rem;
}

.cta-button:hover {
    background-color: #6d09b0;
}



.text{
    display: flex;
    
    height: 300px;
    padding: 20px;
    
    
}
#p1{
   font-style:Open Sans;
   font-size: 48px;
   flex:50px;
   width: 400px;
}
#p2{
    width: 400px;
    flex: 20px;
}
.img1 {

    height: 50px;
    width:30px;
    margin-right: 50px;
}

.nav{
    display: flex;
    flex-direction: column;
}
.like{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.container {
    padding: 2px 16px;
  }

.card {
    
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(5, 5, 5, 0.1);
    overflow: hidden;
    width: 300px;
    transition: transform 0.2s;
    box-shadow: black;
}



.card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
}

.card-title {
    font-size: 1.5em;
    margin: 0 0 10px;
}

.card-description {
    font-size: 1em;
    color: #666;
    margin: 0 0 20px;
}

.mid1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contant-trend__tytle p:first-child {
    color: var(--White,#fff);
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    line-height: 12px;
    font-size: 50px;
    text-transform: capitalize;
}
.contant-trend__tytle p:nth-child(2) {
    padding-top: .625rem;
    color: var(--White,#fff);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;

}
.contant-trend__cards-all.cards-all{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    
    
}
.cards-all__box-foto-collection{
      display: flex;
      flex-direction:column;
}
.box-foto-collection__img-big{
    border-radius: 1.25rem;
    height: 20.625rem;
    overflow: hidden;
    width: 100%;
}
.box-foto-collection__passive-img {
    display: flex;
    flex-direction: row;

}
.passive-img__small-img{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background-size:contain;
    overflow: hidden;
    background-color: #7131ae;
    
}
.passive-img__numbers{
    display: flex;
    width: 100px;
    height: 100px;
    background-color: #7131ae;
    border-radius: 20px;
    align-items: center;
    color: #fff;
    text-align: center;
    font-family: Space Mono;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    text-transform: capitalize;
    overflow: hidden;
    justify-content: center;
}
footer{
    background: #3b3b3b;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
    border-radius: 1%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 100px;

}
.last{
    display: flex;
    justify-content: space-between;
}
.first{
    display: flex;
    flex-direction: column;
    
}
.first-one{
    display:flex;
    flex-direction: row;
    
}
.first-two{
    display: flex;
    flex-direction: row;
    margin: 20px;
    width: 100px;
    height: 32px;
    justify-content: space-between;
}
.join-our__box-box-input{
    border-radius: 50%;
    border: none;
}
.second{
    width:192px ;
}



